@import url('./fonts/alte_bebas.css');
@import url('./fonts/slope_myriad_impact.css');
@import url('./fonts/cabin.css');
@import url('./fonts/europa.css');

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font-weight: bold;
  font-family: 'Europa Grotesk SH DemBol';
}

#backgrounds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

#backgrounds .bg {
  position: absolute;
}

.stroke {
  text-shadow: -2px -2px 0 #12222c, 0 -2px 0 #12222c, 2px -2px 0 #12222c, 2px 0 0 #12222c,
    2px 2px 0 #12222c, 0 2px 0 #12222c, -2px 2px 0 #12222c, -2px 0 0 #12222c;
}
