@import url('./fonts/alte_bebas.css');
@import url('./fonts/slope_myriad_impact.css');

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font-weight: bold;
  font-family: 'slope_operaregular';
}

#backgrounds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

#backgrounds .bg {
  position: absolute;
}
